@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

html {
  width: 100%;
}
html .navbar {
  width: 90%;
  margin: 1% auto;
}
html .navbar .navbar-nav {
  margin-left: auto;
  width: 450px;
}
html .navbar .navbar-nav .nav-items .nav-link {
  font-size: 16px;
}
html .navbar #contact {
  display: inline-block !important;
  margin-left: 50px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: rgba(243, 129, 129, 0.25);
  text-align: center;
  color: #f38181;
  text-decoration: none;
  line-height: 50px;
  transition-duration: 0.7s;
}
html .navbar #contact:hover {
  transform: scale(1.05);
  transition-duration: 0.7s;
  transition-timing-function: ease-in;
}
html .section-one {
  width: 1000px;
  height: 650px;
  margin: 5% auto;
  position: relative;
}
html .section-one .frame-one {
  position: absolute;
  left: 0;
  top: 40px;
  padding: 0;
  margin: 0;
}
html .section-one .frame-two {
  position: absolute;
  left: 250px;
  top: 0;
}
html .section-one .frame-three {
  position: absolute;
  left: 0;
  top: 330px;
}
html .section-one .frame-four {
  position: absolute;
  left: 440px;
  top: 295px;
}
html .section-one .frame-five {
  position: absolute;
  left: 560px;
  top: 50px;
}
html .section-one .frame-five h1 {
  font-weight: 800;
  font-size: 50px;
  color: #625772;
}
html .section-one .frame-five p {
  width: 430px;
  font-size: 18px;
  color: rgba(98, 87, 114, 0.8);
  margin-top: 20px;
}
html .sub-content {
  width: 800px;
  margin: 100px auto;
}
html .sub-content .one {
  font-size: 35px;
  line-height: 120%;
  color: #625772;
  font-weight: 800;
  letter-spacing: 0.02em;
}
html .sub-content .two {
  margin-top: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: rgba(98, 87, 114, 0.8);
}
html .values {
  width: 1200px;
  margin: 100px auto;
  position: relative;
}
html .values .wrapper {
  margin-top: 50px;
}
html .values .wrapper .content {
  width: 45%;
}
html .values .wrapper .content h2 > b {
  width: 50%;
  font-weight: 800;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #625772;
}
html .values .wrapper .content h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #625772;
}
html .values .wrapper .content p {
  margin-top: 30px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.02em;
  color: rgba(98, 87, 114, 0.8);
}
html .values .wrapper .values-list {
  width: 48%;
  margin-left: auto;
}
html .values .wrapper .values-list p {
  width: 240px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  padding-left: 27px;
  padding-top: 28px;
  color: #625772;
}
html .values .wrapper .values-list p img {
  margin-right: 15px;
}

/*# sourceMappingURL=main.css.map */
