// Main CSS file for the pgae

// Font Imports
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

// Valirables Defined
// Colors
$primary-color: #625772;
$secondary-color: #f38181;
$acceny-color: #a9eee6;
$extra-color: #fefaec;
// Fonts
$regular-font: Nunito;

// Main SCSS file
* {
  margin: 0;
  padding: 0;
  font-family: $regular-font;
}
html {
  width: 100%;

  .navbar{
    width: 90%;
    margin: 1% auto;
    .navbar-nav{
      margin-left: auto;
      width: 450px;
      .nav-items{
        .nav-link{
          font-size: 16px;
        }
      }
    }
    #contact{
      display: inline-block !important;
      margin-left: 50px;
      width: 150px;
      height: 50px;
      border-radius: 30px;
      background-color: rgba(243, 129, 129, 0.25);
      text-align: center;
      color: #f38181;
      text-decoration: none;
      line-height: 50px;
      transition-duration: .7s;
      &:hover{
        transform: scale(1.05);
        transition-duration: .7s;
        transition-timing-function: ease-in;
     }
    }
  }

  .section-one{
    width: 1000px;
    height: 650px;
    margin: 5% auto;
    // background-color: $primary-color;
    position: relative;

    .frame-one{
      position: absolute;
      left: 0;
      top: 40px;
      padding: 0;
      margin: 0;
    }
    .frame-two{
      position: absolute;
      left: 250px;
      top: 0;
    }
    .frame-three{
      position: absolute;
      left: 0;
      top: 330px;
    }
    .frame-four{
      position: absolute;
      left: 440px;
      top: 295px;
    }
    .frame-five{
      position: absolute;
      left: 560px;
      top: 50px;
      h1{
        font-weight: 800;
        font-size: 50px;
        color: $primary-color;
      }
      p{
        width: 430px;
        font-size: 18px;
        color: rgba(98, 87, 114, 0.8);
        margin-top: 20px;
      }
    }
  }
  .sub-content{
    width: 800px;
    margin: 100px auto;
    .one{
      font-size: 35px;
      line-height: 120%;
      color: $primary-color;
      font-weight: 800;
      letter-spacing: 0.02em;
    }
    .two{
      margin-top: 50px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: 0.04em;
      color: rgba(98, 87, 114, 0.8);
    }
  }
  .values{
    width: 1200px;
    margin: 100px auto;
    position: relative;

    .wrapper{
      margin-top: 50px;
      .content{
        width: 45%;
        h2>b{
        width: 50%;
        font-weight: 800;
        font-size: 50px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: $primary-color
      }
        h2{
        font-weight: 600;
        font-size: 50px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: $primary-color;
        }
        p{
          margin-top: 30px;
          font-family: Nunito;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 150%;
          text-align: justify;
          letter-spacing: 0.02em;
          color: rgba(98, 87, 114, 0.8);
        }
      }
      .values-list{
        width: 48%;
        margin-left: auto;

        p{
          width: 240px;
          height: 100px;
          background: #FFFFFF;
          box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
          margin-right:30px;
          padding-left: 27px;
          padding-top: 28px;
          color: $primary-color;
          img{
            margin-right: 15px;
          }
        }
      }
    }
  }
}